
obj/project.assets.json
obj/project.nuget.cache
obj/project.assets.json
obj/Mamaspital.csproj.nuget.dgspec.json
obj/Mamaspital.csproj.nuget.g.props
obj/Debug/netcoreapp3.1/Mamaspital.csproj.AssemblyReference.cache
obj/Debug/netcoreapp3.1/Mamaspital.assets.cache
obj/Debug/netcoreapp3.1/apphost.exe
obj/Debug/netcoreapp3.1/.NETCoreApp,Version=v3.1.AssemblyAttributes.cs
obj/project.nuget.cache
